@import url('index.css');

.primary {
  color: var(--dark-purple);
}
/* 
.bg-primary {
  background-color: var(--purple); 
} */

.bg-yellow {
  background-color: var(--yellow);
}

.bg-white {
  background-color: var(--white);
}

.bg-app {
  background-color: var(--purple);
}

.text-purple {
  color: var(--purple);
}
