.list-rule {
  display: flex;
  gap: 1rem;
}

.list-rule + .list-rule {
  margin-top: 10px;
}

.title-dialog {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.list-rule:last-child {
  margin-bottom: 1rem;
}

.dialog-rules {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 2rem 1.5rem;
  overflow: visible;
  border-radius: var(--border-radius-btn);
  border: solid 3px var(--black);
  box-shadow: 0 10px var(--black);
}

.dialog-rules:focus-visible {
  outline: none;
}

.wrapper-dialog {
  position: relative;
}

.btn-ok-dialog {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  cursor: pointer;
}

.btn-ok-dialog:focus-visible {
  outline: none;
}
