.btn-game {
  background-color: var(--dark-purple);
  color: var(--white);
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-radius: var(--border-radius-btn);
}

.container-btn-game {
  padding-top: 3.1rem;
}

.btn-game--menu {
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-game--restart {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.item-total-score {
  text-align: center;
  background-color: var(--white);
  border-radius: var(--border-radius-btn);
  box-shadow: var(--box-shadow);
  border: var(--border);
  width: 47%;

  padding: 0.625rem 2.1rem;
}

.icon-total-score--1 {
  position: absolute;
  left: -30px;
  bottom: 50%;
  transform: translateY(50%);
}

.icon-total-score--2 {
  position: absolute;

  right: -30px;
  bottom: 50%;
  transform: translateY(50%);
}

.score-total-player {
  font-size: 32px;
  font-family: 'space-grotesk-bold';
}

.container-items-total-score {
  padding-top: 2.5rem;
  width: 82.5%;
  margin: 0 auto;
}

.board-layer {
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.board-layer--white {
  z-index: 2;
}

.container-board {
  padding-top: 3rem;
  margin: 0 auto;
  width: 90%;
}

.footer-rectangle {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 0;
  width: 105%;
  height: 85px;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  background-color: var(--dark-purple);
}

.game-menu-dialog {
}
