@import url('index.css');

.container-main-menu {
  height: 85%;
}

.icon-two-player {
  margin-bottom: 5rem;
}

.button-main-menu {
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  height: 72px;
  border-radius: var(--radius-btn);
  border: solid 3px var(--black);
  box-shadow: 0 10px 0 var(--black);
  transition: box-shadow 100ms ease-in-out, border 100ms ease-in-out;
}

.button-main-menu:active {
  box-shadow: 0 10px 0 var(--dark-purple);
  border: solid 3px var(--dark-purple);
}

.button-main-menu + div {
  margin-top: 30px;
}

@media (hover: hover) and (pointer: fine) {
  .button-main-menu:hover {
    box-shadow: 0 10px 0 var(--dark-purple);
    border: solid 3px var(--dark-purple);
    cursor: pointer;
  }
}

.list-rule {
  display: flex;
  gap: 1rem;
}

.list-rule + .list-rule {
  margin-top: 10px;
}

.title-dialog {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.list-rule:last-child {
  margin-bottom: 4rem;
}

.dialog-rules {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 2rem 1.5rem;

  width: 100%;
  border-radius: var(--radius-modal-rules);
  border: solid 3px var(--black);
  box-shadow: 0 10px var(--black);
}

.dialog-rules:focus-visible {
  outline: none;
}
